/* GLOBAL */
html {
  scroll-behavior: smooth;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --light: #fff;
  --orange: #ffa500;
}

body {
  font-family: 'Montserrat', sans-serif;
  cursor: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: none;
}

button {
  cursor: none;
  outline: none;
}

/* --------------------------------------------------------------------------------------------------- */


video {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 30ms;
  z-index: 10;
}

.expand {
  animation: cursorAnim 0.5s forwards;
  box-shadow: 0px 0px 16px 10px var(--orange);
  /* border: 1px solid #fff; */
}

@keyframes cursorAnim {
  0% {
    transform: scale(1);
    background: var(--orange);
  }
  50% {
    transform: scale(2);
    background: var(--orange);

  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* HOME PAGE */

.menu {
  position: fixed;
  bottom: 0;
}

.home__links {
  position: fixed;
  top: 0;
}

.menu__button,
.home__link{
  padding: 10px 20px;
  font-size: 32px;
  border: none;
  background: #ffffff36;
  color: var(--orange);
  transition: all 0.2s ease-in-out;
}

.menu__button:hover{
  color: var(--light);
}


#home {
  position: relative;
  width: 100wh;
  height: 100vh;
  color: var(--light);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.home__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.466);
  width: 100%;
  height: 100%;
}

.home__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* ------------------- */

.home__title {
  color: #fffbf1;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 80px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: none;
  z-index: 5;
}

.home__title:before,
.home__title:after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 20%;
  display: block;
  border: 15px solid red;
  transform: translateX(-50%) translateY(-30%) rotate(0deg);
  animation: 10s infinite alternate ease-in-out tipsy;
}

.home__title:before {
  border-color: var(--orange) var(--orange) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

.home__title:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--orange) var(--orange);
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}

.home__slogan {
  text-transform: uppercase;
  position: relative;
  font-size: 14px;
  top: 120px;
  z-index: 0;
}

@keyframes tipsy {
  /* 0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  } */
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}
/* ------------------- */

.home__socials {
  display: flex;
}

.home__socials {
  margin-left: 25px;
  margin-top: 10px;
  font-size: 32px;
}

.home__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 32px;
  color: var(--orange);
  background: #ffffff36;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
}

.home__social i {
  position: relative;
  top: 2px;
}

.home__social:hover {
  color: var(--light);
}
/* HOME PAGE */


/* RESPONSIVENESS ################################################### */
@media (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  video {
    width: auto;
    height: 100%;
  }
}

/*  ############################################################### */
@media (max-width:768px) {
  .home__title {
    font-size: 32px;
  }

  .home__slogan {
    font-size: 16px;
    line-height: 2em;
  }

  .home__social {
    width: 40px;
    height: 40px;
    font-size: 25px;
  }

  .video-wrap video {
    height: 100vh;
  }

  .home__title {
    width: 70%;
  }
}