/* GLOBAL */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Serif', serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* --------------------------------------------------------------------------------------------------- */





